{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/friend_list.css' %}">
{% endblock %}

{% block content %}
<div class="background-a"></div>
<div class="slider-container">
    <div class="slider">
        {% for friend in friends %}
        <div class="homepage-container">
            <div class="homepage-content">
                <div class="pet-profile">
                    <img src="{% if friend.image %}{{ friend.image.url }}{% else %}{% static 'images/default_pet.jpg' %}{% endif %}" alt="반려친구구 사진">
                </div>
                <p class="pet-name">{{ friend.name }}</p>
                <p class="home-description">
                    지금까지 00개의 온기록을 남기셨어요!<br>
                    {{ friend.name }}와 함께 소중한 오늘을 기록하고 따뜻해지세요.
                </p>         
                    {% if friend.id in diary_map %}
                        <a href="{% url 'diaries:view_calendar' %}" class="move-form-btn">
                            온기록 보기
                        </a>
                    {% else %}
                        <a href="{% url 'diaries:view_calendar' %}" class="move-form-btn">
                            온기록 남기기
                        </a>
                    {% endif %}   
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
