{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
    <div class="background-a"></div>
    <div class="mypage-profile">
        <!-- 제목 -->
        <div class="mypage-header">
            <h1 class="mypage-title">마이페이지</h1>
        </div>

        <!-- 유저 정보 -->
        <div class="user-info">
            <div class="user-profile">
                <div class="user_profile_img">
                    {% if user.profile_image.url != '' %}
                    <img src="{{user.profile_image.url}}" alt="프로필 사진" />
                    {% else %}
                    <img src="{% static 'images/base_user_image.png' %}" alt="대체 이미지" style="background: #FFFBED;" />
                    {% endif %}
                </div>
            </div>
            
            <div class="user-name-container">
                <p class="user-name" id="user-name">{{ user.nickname }}</p>
            </div>

            <p>{{ user.email }}</p>
            <button class="edit-btn" id="edit-profile-btn">
                <a href="{% url 'users:render_profile' %}">프로필 수정</a>
        </div>

        <div class="friends-list">
            <div class="friends-list-management-header">
                <h2 class="friends-list-title">반려친구 관리</h2>
                <button class="add-btn" id="add-friends-list-btn">
                    <a href="{% url 'diaries:pet_or_plant' %}">추가</a>
                </button>
            </div>
            
            <div class="friends-list-list" id="friends-list-list">
                <!-- 반려친구 리스트 -->
                {% for f in friends %}
                    <p><a href="{% url 'diaries:pet_or_plant' %}">{{ f.name }}</a></p> <!-- url 수정하기 -->
                {% empty %}
                    <p>등록된 반려친구가 없습니다.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}