{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pet_or_plant.css' %}">
{% endblock %}

{% block content %}
    <div class="background-b"></div>
    <div class="select-container">
        <a href="{% url 'diaries:create_pet' %}" class="select_pet">
            <img src="{% static 'images/select_pet.png' %}" alt="Image 1" class="select_pet_img" />
            <span><strong>반려동물</strong>과 온기록하기</span>
        </a>

        <a href="{% url 'diaries:create_plant' %}" class="select_plant">
            <img src="{% static 'images/select_plant.png' %}" alt="Image 2" class="select_plant_img" />
            <span><strong>반려식물</strong>과 온기록하기</span>
        </a>
    </div>
{% endblock %}