.after-login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  position: relative;
  padding-top: 60px; 
}


.background-a {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-a.png");
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.after-login{
  background-image: url("/static/images/move-form.png");
  width: 900px;
  height: 480px;
  border-radius: 15px;
  box-shadow: 0 4px 50px 10px var(--shadow-dark-yellow);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.container-span {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.start-hello {
  margin-top: auto;
  font-weight: var(--font-weight-normal);
}

.move-form-btn {
  display: block;
  padding: 5px 40px;
  background: linear-gradient(-60deg, var(--light-yellow), var(--primary-yellow));
  border: none;
  color: var(--white);
  font-size: var(--font-size-normal);
  border-radius: 30px;
  cursor: pointer;
  margin: 30px;
  text-decoration: none;
}

.move-form-btn:hover {
  background: var(--hover-yellow);
  transform: scale(1.05);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}