.background-a {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-a.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* 배경이 다른 콘텐츠 뒤에 오도록 설정 */
}

.diaries_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
}

.detail-container {
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(230, 190, 90, 0.8);
  margin-bottom: 30px;
}

.detail-header {
  display: flex;
  justify-content: space-between; /* 이 부분을 추가 */
  align-items: center;
  width: 100%;
}

.detail-header-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.public-btn {
  padding: 5px 20px; /* 패딩을 추가 */
  background-color: var(--primary-yellow);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

#date {
  color: var(--primary-yellow);
  opacity: 1;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.detail-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.detail-image, .detail-text {
  width: 500px; 
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.detail-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-text h3, .detail-image h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: auto;
}

.diary-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    margin-bottom: 10px;
}

.diary-description {
    line-height: 1.6;
}

.reply {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(230, 190, 90, 0.8);
  max-width: 900px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.bis {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px;
  font-size: 25px;
}

.like-btn{
  background: none;
  border: none;
}
.bis-r {
  margin-left: auto;
  display: flex;
}

.bi, .comments-section-title {
  display: inline-block;
  color: var(--primary-yellow);
  margin: 10px;
  background: none;
  border: none;
}

.comments-section-title{
  font-size: 25px;
}

.like-count{
  margin: 0;
  color: var(--primary-yellow);
  font-size: 25px;
}

.comments-section-title{margin-right: auto;}

.bi:hover, .save-comment-btn:hover, .add-comment-btn:hover {
  color: var(--hover-yellow);
}

/* 댓글 섹션 스타일 */
.comments-section {
  width: 100%;
}


/* 댓글 리스트 */
.comments-list{
  list-style: none;
  padding: 0;
}

.comments-list-li {
  display: flex;      
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 50px;
  border: none;
}

.comments-list-name, .comments-list-content {
  font-size: 15px;
  color: var(--primary-yellow);
  margin: 15px;
}
.comments-list-content{
  color: var(--text-black);
}

.comment-edit-input {
  width: 88%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  display: none;
}

.comment-input-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.comment-input {
  padding: 15px;
  border-radius: 50px;
  border: none;
  width: 85%;
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(230, 190, 90, 0.8);
}

.add-comment-btn {
  background-color: var(--primary-yellow);
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 4px 20px rgba(230, 190, 90, 0.8);
  padding: 15px;
  border: none; 
}

.comment-edit-del-btn{
  margin-left: auto;
}
.edit-comment-btn, .save-comment-btn, .delete-comment-btn {
  background: none;
  border: none;
  color: var(--primary-yellow);
  cursor: pointer;
  font-size: 15px;
  margin: 0;
}

.comments-list a {
  margin: 0;
  padding: 0;
  display: inline-block;
}
