/* 배경 스타일 */
.background-a {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/base-a.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* 슬라이더 컨테이너 */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 1500px; /* 최대 너비 조정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

/* 슬라이더 */
.slider {
    display: flex;
    gap: 15px; /* 카드 간격 조정 */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    align-items: center;
    padding: 20px 0;
    cursor: grab;
    justify-content: flex-start;
    width: 100%;
    margin: 30px;
}

/* 개별 카드 */
.homepage-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(230, 190, 90, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    transition: transform 0.4s ease, z-index 0.4s ease;
    z-index: 1;
    margin: 30px;
}

/* 현재 선택된 카드 강조 */
.homepage-container.active {
    transform: scale(1.05);
    z-index: 100;
    box-shadow: 0px 6px 25px rgba(230, 190, 90, 1);
}

/* 반려동물 프로필 */
.friend-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-yellow);
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
}

.friend-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend-name{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-yellow); /* 노란색 변경 */
    margin-bottom: 10px;
}

/* 온기록 남기기 버튼 */
.move-detail-btn, .move-write-btn {
    display: inline-block;
    background-color: var(--primary-yellow);
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0px 3px 8px rgba(230, 190, 90, 0.7);
    margin-top: 15px;
    border: none; 
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var( --primary-yellow);
    color: var(--white);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 15px;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.move-form-btn:hover {
    background-color: var(--hover-yellow);
    transform: scale(1.05);
}
