body {
  background: linear-gradient(60deg, #FFBF00, #FFF3CF);
}

.background-a {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-a.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* 배경이 다른 콘텐츠 뒤에 오도록 설정 */
}

.container {
  background-image: url("/static/images/move-form.png");
  width: 900px;
  height: 480px; /* 기본 크기 확보 */
  margin: 20px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 50px 10px rgba(229, 188, 63, 0.6);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-size: cover;
  background-position: center;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.main-page {
  color: var(--white);
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin-left: 200px;
}

.main-text {
  margin: 20px 0;
  font-size: 25px;
}

.main-text h1 {
  margin-bottom: 20px; 
}

.logo {
  width: 200px;
  height: 163px;
}

.main-btn {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

li {
  list-style: none;
}

.login-btn, .signup-btn {
  display: block;
  padding: 10px 20px;
  background: linear-gradient(-60deg, var(--light-yellow), var(--white));
  border: none;
  color: #FFC003;
<<<<<<< HEAD
  font-size: 20px;
=======
  font-size: 14px;
>>>>>>> 6089896 (add: communities_main css)
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.login-btn:hover, .signup-btn:hover {
  background:var(--white);
}