:root {
    --primary-yellow: #FFC100; 
    --light-yellow: #FFE28A;
    --background-yellow: #FFFBED;
    --hover-yellow: #e5b700; 
    --soft-yellow: #FFD75C;
    --white: #FFFFFF;
    --light-gray: #d9d9d9;
    --shadow-dark-yellow: rgba(229, 188, 63, 0.6);
    --shadow-light-yellow: rgba(229, 188, 63, 0.3);
    --red:#ff6347;
    --diary-empty: #F2EEE2;
    --diary-one: #FFF0C4;
    --diary-half: #FEE8A5;
    --diary-full:  #FFE083;
    --text-black: #000000;
    --text-gray: #666;

    --font-family: 'Pretendard', sans-serif;
    --font-size-normal: 20px;
    --font-weight-regular: 400;
    --font-weight-normal: 700;
    --font-weight-bold: 900;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-regular);
  }
  