.background-a {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-a.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* 배경이 다른 콘텐츠 뒤에 오도록 설정 */
}

.write-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.write-header, .write-header-a {
  display: flex;
  justify-content: space-between; /* 이 부분을 추가 */
  align-items: center;
  width: 100%;
}

.write-header-l, .write-header-a-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.today-diary {
  color: rgba(0,0,0,1);
  opacity: 1;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
}

#date {
  color: var(--primary-yellow);
  opacity: 1;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

label {
  font-weight: bold;
  margin: 5px;
}

.public-btn {
    padding: 5px 20px; /* 패딩을 추가 */
    background-color: var(--primary-yellow);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.public-btn:hover {
    background: var(--hover-yellow);
}

.diary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.image-upload, .text-input {
    width: 500px; /* 정사각형 크기 */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 4px 50px 5px var(--shadow-yellow);
    text-align: center;
    overflow: hidden;
}

.image-upload input {
    display: none;
}

.image-upload label {
    cursor: pointer;
    color: var(--dark-gray);
}
#form-preview {
  width: 100%; 
  height: 100%;  
  object-fit: cover;  
}

#form-image {
  position: absolute;
  opacity: 0; 
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.text-input textarea {
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-size: 16px;
    padding: 10px;
}

.create-btn {
  display: block;
  padding: 5px 20px;
  background: var(--primary-yellow);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto; 
  margin-top: 10px
}

.create-btn:hover {
  background: var(--hover-yellow);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}