.create-diaries-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  position: relative; 
  padding-top: 200px;
}

.background-a {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-a.png");
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.write-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.write-header, .write-header-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  background: transparent; 
}

.write-header-l, .write-header-a-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.today-diary {
  color: rgba(0,0,0,1);
  opacity: 1;
  text-align: center;
  font-weight: var(--font-weight-normal);
  font-size: 1.6rem;
}

#date {
  color: var(--primary-yellow);
  opacity: 1;
  text-align: center;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-normal);
  margin: 0;
}

label {
  font-weight: var(--font-weight-regular);
  display: inline-flex;  
  align-items: center;
}

.form-group:first-child input {
  border: none;
  border-bottom: 2px solid black; 
  font-size: 20px;
  background: transparent;
  font-weight: bold;
  width: 100%;
  transition: border-color 0.3s ease;
}

input, select {
  font-size: 0.8rem;
  background: transparent; 
  transition: border 0.3s ease;
  border: none;
}

input:focus, select:focus {
  outline: none;
}

.public-btn {
    padding: 5px 20px; 
    background-color: var(--primary-yellow);
    border: none;
    color: var(--white);
    border-radius: 30px;
    cursor: pointer;
}

.public-btn:hover {
    background: var(--hover-yellow);
}

.diary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
  width: 100%;
}

.image-upload, .text-input {
    width: 500px; 
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 4px 50px 5px var(--shadow-dark-yellow);
    text-align: center;
    overflow: hidden;
}

.image-upload input {
    display: none;
}

.image-upload label {
    cursor: pointer;
    color: var(--text-gray);
}
#form-preview {
  width: 100%; 
  height: 100%;  
  object-fit: cover;  
}

#form-image {
  position: absolute;
  opacity: 0; 
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.text-input textarea {
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-size: var(--font-size-normal);
    padding: 10px;
}

.create-btn {
  display: block;
  padding: 5px 20px;
  background: var(--primary-yellow);
  border: none;
  color: var(--white);
  border-radius: 30px;
  margin-left: auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.create-btn:hover {
  background: var(--hover-yellow);
}

@media (max-width: 1100px) {
  .create-diaries-container{
    padding-top: 20px;
  }

  .diary-content {
    gap: 40px;
  }
  
  .image-upload, .text-input {
    width: 420px; 
    height: 420px;
  }

  .today-diary {
    font-size: 1.4rem;
  }
  
  #date, .create-btn, .public-btn {
    font-size: 0.8rem;
  }

  label{
    font-size: 0.8rem;
  }

}
@media (max-width: 768px) {
  .image-upload, .text-input {
    width: 350px; 
    height: 350px;
  }
}

@media (max-width: 850px) {
  .create-diaries-container{
    padding-top: 390px;
  }

  .diary-content {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .image-upload, .text-input {
    width: 400px; 
    height: 350px;
  }

  .today-diary {
    font-size: 1.4rem;
  }
  
  #date, .create-btn, .public-btn {
    font-size: 0.8rem;
  }

  label{
    font-size: 0.8rem;
  }

}

