.pet-or-plant-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.background-b {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/base-b.png");
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.select-container {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.select_pet, .select_plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: floating 3s ease-in-out infinite;
    transition: background 0.3s, transform 0.2s;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }

.select_pet_img:hover, .select_plant_img:hover {
    transform: scale(1.05);
}

.select-container a{
    text-decoration: none;
    color: var(--text-black);
}

.select_pet span, .select_plant span{
    font-size: 1.3rem;
    display: flex;
}

.select-container-text{
    font-weight: var(--font-weight-normal);
    font-size: 1.3rem;
}

.select_pet_img, .select_plant_img {
    width: 300px;
    height: 300px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}