{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>On-Record</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
            <p>당신의 첫 번째 온기록을 축하합니다!</p>
        {% else %}
            <li><a href="{% url 'users:user_login' %}">로그인</a></li>
            <li><a href="{% url 'users:signup' %}">회원가입</a></li>
            <button type="button" onclick="location.href='{% provider_login_url 'kakao' %}'"><img class="kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" ></button>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>