{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <title>On-Record</title>
    </head>
    <body>
        
        {% if user.is_authenticated %}
            {% include 'users/after_login.html' %}
        {% else %}
        <div class="main-page">
            <img class="logo" src="{% static 'images/온기록-logo.png' %}" alt="Logo" />
            <div class="main-text">
                <h1>온 - 기록</h1>
                <span class="main-text-1">AI와 함께하는 특별한 교환일기!</span>
                <span>반려친구와의 하루를 기록하면,</span>
                <span>반려친구가 직접 답장해주는 듯한 감성 가득한 메시지를 받아보세요.</span>
            </div>
            <div class="main-btn">
                <li><a href="{% url 'users:user_login' %}" class="login-btn">로그인</a></li>
                <li><a href="{% url 'users:signup' %}" class="signup-btn">회원가입</a></li>
            </div>
        </div>
        <footer>
            <a href="{% url 'users:privacy_policy' %}">개인정보처리방침</a>
            <a href="{% url 'users:terms_of_service' %}">서비스 이용약관</a>
        </footer>
        {% endif %}
    </body>
</html>